<!DOCTYPE html>
<html>
<head>
	<title>Terms of Service</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8">
   	<meta http-equiv="pragma" content="no-cache">
    <link href="$Z/css_m/jquery.mobile-1.4.2.min.css?v=181225040720" rel="stylesheet" type="text/css">
    <link href="$Z/css_m/style.css?v=181225040720" rel="stylesheet" type="text/css">
    <link href="$Z/css_m/theme.css?v=181225040720" rel="stylesheet" type="text/css">
	<script src="$Z/js/jquery-1.8.2.min.js?v=181225040720"></script>
    <script src="$Z/js/jquery.mobile-1.4.2.min.js?v=181225040720"></script>
</head>
<body>

<div data-role="page" class="zyxel zyxel_style1">

  	<div data-role="header" class="zyxel_header">
		<h1><img src="$Z/images_m/logo_70X20_white.png?v=181225040720" width="70" height="20" alt="logo"></h1>
 	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div class="zyxel_content">    
            <h2 class="zyxel_title">Terms of Service</h2>
            <div class="zyxel_blue_line"></div>
            <p class="zyxel_p_style3">
			1.Terms of Service<br>
			2.Terms of Service<br>
			3.Terms of Service<br>
			4.Terms of Service<br>
			5.Terms of Service<br>
            </p>
     	</div><!-- /zyxel_content -->
	</div><!-- /content -->
    
    <div data-role="footer" data-position="fixed" class="zyxel_footer zyxel_footer_bg">
    	<div class="center_style" >
            <button id="close" class="ui-btn ui-corner-all ui-btn-inline ui-btn-d ui-btn-icon-left ui-icon-delete ui-nodisc-icon btn_inline_style">Close</button>
        </div>
	</div><!-- /footer -->
    
</div><!-- /page -->
<script language='javascript'>
$(document).ready(function(){
	$('#close').click(function(){
		window.close();
	});
});
</script>
</body>
</html>