<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>login page</title>
</head>
<body>
    <section class="login-form">
        <form>
            <div class="box">
                <div class="preview">
                    <img src="https://picsum.photos/201">
                </div>
                <div class="img">
                    <hr>
                    <img src=""/>
                </div>
                <div class="heading">
                    <!-- <h4></h4> -->
                </div>
                <div class="form-fields">
                    <div class="input-box">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                        <span>
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAA3klEQVR4Ae3VMQgBYRiH8SdJYpHb7fZJFFmUbLIP9r0+y+1FKZnsE5s9i8leNpOsWGSBkpLPufd7lVvu99+frr63DkexGgZfOEOVACOujhtio8lVsRYWowr1sPiqkC8NLSmTu6/M8pfQlARPCaba0AGPVx4HXWjOu7kuNOBdP+IvOuLxKs9R+2ozwas53FH+vorTHSkWRejCmgUrTtrQngldSmR5SNJgwt4tdMYnwycpOmyloR1FvimwkYXahKnIQhnCpGUhiX/ckVGFDJaWKtQE29g50ydAXf3LjgncAOfJNEighISwAAAAAElFTkSuQmCC"/>
                        </span>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="Password" class="form-control" onkeyPress="checkKey(event);">
                        <span>
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAA50lEQVR4Ae2UMQhBQRyHPzuxOXv2CUZlXxT23WaXNzEa1RsN7Kt9L7Ev1AOxD871r1d69erOScn7vu1X/2+6jm9RosXA2KLE2yiW6BdXlHGHKnt0wr1ZHVEc0OKamXGNFg9UcGIhZ1faxLS5yLbAgSIPOerxSl+2B0Ws6cjJhiQb2btYM5SDkCSh7EOsGcvBOG3/xVCOgAhtYURAjlQmaAenpHJ3Ct1IRTuKkIVOzI0n39AWBUCFrV+oTkzNL1QgJu8XahLT8AvtUAAodh4h8UxoPH/6HWWhyCkTfeGHhBFHq8iRgH/hCUvBHMWTW0NeAAAAAElFTkSuQmCC"/>
                        </span>
                    </div>
                    <div class="button-box">
                        <button type="submit" name="Submit" value="Login" >Sign in</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>